@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --cor1:#49a09d;
    --cor2:#5f2c82;
}

body, html{
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #ffffff;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000073;

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--cor2) url(../imagem/tela-login.jpg) no-repeat ;
    background-size: cover;
    background-position: center center;
    height: 200px;


}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 0.8em;
}
